<div class="header">
  <h1>THE MINIBAR</h1>
</div>

<div class="container text-center">
  <h2><%= @cocktail.name %></h2>
  <div class="cocktail">
    <div>
      <% if @cocktail.photo? %>
        <%= cl_image_tag @cocktail.photo.path, width: 300, :border => { :width => 80, :color => 'white' }%>
      <% end %>
    </div>
    <div class="text-left">
      <% @cocktail.doses.each do |d| %>
      <ul>
        <li><%= d.ingredient.name %></li>
        <p><%= d.description %></p>
        <p><%= link_to 'Delete dose', cocktail_dose_path(d), method: :delete, :class => "btn btn-danger btn-sm" %></p>
      </ul>
      <% end %>
    </div>
  </div>
</div>

<div class="buttons-bar text-center">
  <p><%= link_to 'Add a dose', new_cocktail_dose_path(@cocktail), :class => "btn btn-success btn-md"%></p>
  <p><%= link_to 'Back', cocktails_path, :class => "btn btn-success btn-md" %></p>
</div>
