<h1>Add a Dose</h1>
<%= simple_form_for [@cocktail, @dose] do |d| %>
  <%= d.label :ingredient_id, "Pick an ingredient" %>
  <%= d.select :ingredient_id, options_for_select(Ingredient.all.map{|i|[i.name, i.id]}) %>
  <%= d.input :description %>
  <%= d.submit "Add dose", class: "btn btn-primary" %>
<% end %>
